body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
.section {
  padding: 96px 0;
}
.container {
  margin: 0 auto;

  max-width: 320px;
  padding: 0 16px;
  padding: 0px 16px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #2e2f42;
}
.logo-accent {
  color: #4d5ae5;
}
.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: none;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.nav-link-active {
  color: #404bbf;
  position: relative;
}
.nav-link-active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #404bbf;
  border-radius: 2px;
}
.address {
  display: none;
}

.address-link {
  color: #434455;
  font-style: normal;
  padding: 24px 0;
  display: block;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.address-link:hover,
.address-link:active,
.address-link:focus {
  color: #404bbf;
}

.mob-menu-open {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
}

.hero {
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  text-align: center;
  max-width: 320px;
  margin: 0 auto;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2) {
  .hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero-bg-mob-2x.jpg);
  }
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  max-width: 216px;
  margin: 0 auto;
}
.hero-btn {
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.04em;
  cursor: pointer;
  line-height: 1.5;
  padding: 16px 32px;
  margin-top: 72px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}

.features-icon {
  width: 100%;
  height: 112px;
  padding: 24px;
  background: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  display: none;
}
.features-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.features-list-desr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #434455;
}
.team {
  background-color: #f4f4fd;
}
.team .container {
  padding: 0 28px;
}
.team-title,
.portfolio-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}
.team-card {
  background-color: #fff;

  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  margin: 0 auto;
}
.team-img {
  display: block;
}
.team-card-name {
  padding: 32px 16px;
  background-color: #fff;
}
.team-card-title {
  margin-bottom: 8px;
}

.team-card-title,
.portfolio-card-title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-card-descr,
.portfolio-card-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.portfolio-card-title,
.portfolio-card-descr {
  text-align: left;
}
.team-links {
  width: 100%;
  display: flex;
  gap: 24px;
  align-items: center;
  margin-top: 8px;
}
.social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:active,
.social-link:focus {
  background-color: #404bbf;
}
.portfolio-title {
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}
.portfolio-card {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  margin: 0 auto;
}
.portfolio-card-content {
  position: relative;
  overflow: hidden;
  height: 280px;
}
.portfolio-card-info {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #4d5ae5;
  transform: translateY(100%);
  bottom: 0;
  padding: 40px 32px;
  z-index: 1;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-info .portfolio-card-descr {
  color: #f4f4fd;
}
.portfolio-card:hover {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-card:hover .portfolio-card-info {
  transform: translateY(0%);
}

.portfolio-img {
  display: block;
}
.portfolio-card-name {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
  overflow: hidden;
  background-color: #fff;
}
.portfolio-card-title {
  margin-bottom: 8px;
}
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer .container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 72px;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  display: block;
  text-align: center;
}
.footer-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 16px;
  max-width: 264px;
}
.footer-media {
  margin: 0 auto;
}
.footer-media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}
.footer-links {
  display: flex;
  align-items: baseline;
  gap: 16px;
  margin-top: 16px;
}
.footer-link {
  background-color: #4d5ae5;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}
.footer-subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

.footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
  flex-wrap: wrap;
}
.footer-email {
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 8px 16px;
  width: 288px;
  height: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-email:hover,
.footer-email:focus {
  outline: none;
  border-color: #31d0aa;
}
.footer-button {
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding-inline: 24px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 165px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
  background-color: #31d0aa;
}
.footer-button-icon {
  fill: #fff;
}
.footer-email::placeholder {
  color: #fff;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 72px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 288px;
  min-height: 584px;
}
.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #2e2f42;
  cursor: pointer;
  transition-property: fill, background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  fill: #fff;
  outline: none;
  border-color: #404bbf;
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 16px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: inline-block;
}
.modal-field:not(:first-child) {
  margin-top: 8px;
}
.modal-input {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 11px 11px 11px 38px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-input:focus,
.modal-input:active {
  outline: transparent;
  border-color: #4d5ae5;
}
.input-wrapper {
  position: relative;
  margin-top: 4px;
}
.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-input-icon,
.modal-input:active + .modal-input-icon {
  fill: #4d5ae5;
}
.modal-textarea {
  padding: 8px 16px;
  resize: none;
  height: 120px;
  margin-top: 4px;
}
.modal-check-field {
  margin-top: 16px;
}
.modal-check-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}
.modal-check-txt {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.policy-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.modal-btn {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  align-self: center;
  margin-top: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus,
.modal-btn:active {
  background-color: #404bbf;
}

.check-mark {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  margin-right: 8px;
  transition-property: background-color, fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .modal-check-label .check-mark {
  background-color: #404bbf;
  fill: #f4f4fd;
}
.modal-check:focus + .modal-check-label .check-mark {
  border-color: #404bbf;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 999;
  padding: 72px 16px 40px 16px;
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.mob-menu.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.mob-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: fill, background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-close:hover,
.mob-menu-close:focus {
  background-color: #404bbf;
  fill: #fff;
  outline: none;
  border-color: #404bbf;
}
.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-link-active {
  color: #404bbf;
}
.mob-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mob-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-address-link-active {
  color: #4d5ae5;
}

.mob-menu-link:hover,
.mob-menu-link:focus {
  color: #404bbf;
}
.mob-address-link:hover,
.mob-address-link:focus {
  color: #4d5ae5;
}
.mob-social-list {
  display: flex;
  gap: 40px;
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }
  .header-logo {
    margin-right: 120px;
  }
  .nav-list {
    display: flex;
    gap: 40px;
  }
  .mob-menu-open {
    display: none;
  }
  .address {
    display: block;
  }
  .address-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
  .address-link {
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
  }
  .address-list-item {
    margin-left: auto;
  }
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 768px;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab.jpg);
  }
  @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2) {
    .hero {
      background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }
  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
  }
  .hero-btn {
    margin-top: 36px;
  }
  .features-list {
    gap: 72px 24px;
  }
  .features-list-item {
    width: calc((100% - 24px) / 2);
  }
  .features-list-title {
    text-align: left;
  }

  .team .container {
    padding: 0 108px;
  }
  .team-list {
    gap: 64px 24px;
  }
  .team-card {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-list {
    gap: 72px 24px;
  }
  .portfolio-card {
    margin: 0;
    width: calc((100% - 24px) / 2);
  }
  .portfolio-card-content {
    height: 300px;
  }

  .footer .container {
    gap: 72px 24px;
    padding: 0 108px;
  }

  .footer-logo {
    text-align: left;
  }
  .footer-media-title {
    text-align: left;
  }
  .footer-subscribe-title {
    text-align: left;
  }
  .footer-info {
    margin: 0;
  }
  .footer-media {
    margin: 0;
  }
  .footer-form {
    gap: 24px;
  }
  .footer-email {
    width: 264px;
  }

  .modal {
    max-width: 408px;
    padding: 72px 24px 24px 24px;
  }
  .policy-link {
    margin-left: 4px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .team .container {
    padding: 0 15px;
  }
  .section {
    padding: 120px 0;
  }
  .header-logo {
    margin-right: 76px;
  }
  .address-list {
    gap: 40px;
    align-items: center;
  }
  .address-link {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
  }

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
  }
  @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2) {
    .hero {
      background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-2x.jpg);
    }
  }
  .hero-btn {
    margin-top: 48px;
  }
  .features-list {
    gap: 24px;
  }
  .features-list-item {
    width: calc((100% - 24px * 3) / 4);
  }
  .features-icon {
    display: flex;
  }
  .features-list-title {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
  }
  .features-list-desr {
    font-weight: 400;
  }
  .team-list {
    gap: 24px;
  }
  .team-card {
    width: calc((100% - 24px * 3) / 4);
  }
  .portfolio-list {
    gap: 48px 24px;
  }
  .portfolio-card {
    width: calc((100% - 24px * 2) / 3);
  }
  .portfolio-card-content {
    height: auto;
  }
  .footer .container {
    padding: 0 15px;
    gap: 0;
  }

  .footer-info {
    margin-right: 120px;
  }
  .footer-media {
    margin-right: 80px;
  }
  .footer-subscribe {
    margin-left: auto;
  }
}
